
  <div class = "flex justify-between item-center">

    <p class="font-bold text-1xl">We welcome you to our website of an online store of pleasant things. Here we collect the best collections of European brands, beautiful fabrics, all kinds of interior items and decorations, which are delivered to your home in a cozy, beautiful and casual way. You can find everything you dream of, as well as draw new ideas and inspiration for yourself.</p>
    <img src ="https://images.unsplash.com/photo-1585144499819-651e1c1c97ec?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=912&q=80"  alt="thanks" width="250px"/>
  </div>
  <img src ="https://images.unsplash.com/photo-1472851294608-062f824d29cc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80"  alt="shop" width="700px"/>


